.ServiceHome {
  /* margin: 70px 0px; */
  padding: 70px 0px;
  position: relative;
}

.ServiceHome_description {
  margin: 20px 0px;
}
.servicesHomeItem {
  background: white;
  margin: 10px;
  border-radius: 0px;
  transition: 1s ease;
  margin: 10px auto;
}

.servicesHomeItems_icon {
  font-size: 100px;
  color: #fe9043;
}
.servicesHomeItems_title {
  font-size: 30px;
}
.servicesHomeItem:hover {
  translate: -0px -20px;
}
.servicesHomeItem:hover .servicesHomeItems_icon {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  color: #089fac;
  transition: 1s ease;
}
.Services_bg_image-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.1;
}
.Services_bg_image-2 {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.1;
}
.service_bg_animition {
  -webkit-animation-name: float-bob-x;
  animation-name: float-bob-x;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
