.subHeading {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  color: #fe9043;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-left: 20px;
  z-index: 1;
  margin-bottom: 30px;
  margin-left: 0px;
}
.subHeading::before {
  content: "\2033";
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
  color: #fe9043;
  font-weight: bold;
}

.heading {
  margin: 0;
  /* color: var(--zeinet-black); */
  font-size: 49px;
  line-height: 60px;
  font-weight: 800;
  letter-spacing: -0.04em;
  margin-top: 5px;
}
/* banner */
.common_banner {
  /* background-image: url(/src/assets/aboutUs/aboutUs1.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.Banner_heading {
  font-size: 72px;
  background: -webkit-linear-gradient(#089fac, #fe9043);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* button  */
.CmnBtn {
  background: rgb(254, 144, 67);
  color: hsl(60, 56%, 91%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.CmnBtn:hover {
  background: rgb(188, 110, 110) !important;
}
ul.thumbs.animated {
  display: none !important;
}
