.subHeading {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  color: #fe9043;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-left: 20px;
  z-index: 1;
  margin-bottom: 30px;
  margin-left: 0px;
}
.subHeading::before {
  content: "\2033";
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
  color: #fe9043;
  font-weight: bold;
}

.heading {
  margin: 0;
  /* color: var(--zeinet-black); */
  font-size: 49px;
  line-height: 60px;
  font-weight: 800;
  letter-spacing: -0.04em;
  margin-top: 5px;
}
