.Banner_bg_image-1 {
  position: absolute;
  /* width: 500px; */
  /* height: 500px; */
  /* position: relative; */
  bottom: 0;
  left: 0;
  opacity: 0.1;
}
.Banner_bg_image-2 {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.1;
}

.banner_header {
  color: #fe9043;
}

/* https://i.ibb.co/DW21JTf/dot.jpg */
/* https://i.ibb.co/0jNvQCn/dot1.webp */
