.Banner_bg_image-1 {
  position: absolute;
  /* width: 500px; */
  /* height: 500px; */
  /* position: relative; */
  bottom: 0;
  left: 0;
  opacity: 0.1;
}
.Banner_bg_image-2 {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.1;
}

.banner_header {
  color: #fe9043;
}
.banner_btn {
  background: rgb(254, 144, 67);
  color: hsl(60, 56%, 91%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.banner_btn:hover {
  background: rgb(188, 110, 110) !important;
}
ul.thumbs.animated {
  display: none !important;
}
/* https://i.ibb.co/DW21JTf/dot.jpg */
/* https://i.ibb.co/0jNvQCn/dot1.webp */
