section.blogs_banner {
  background-image: url(https://i.ibb.co/pv4qcwt/comuninty-Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  /* opacity: .2; */
}
